html {
	font: helvetica;
	background-image: url("background.png");
}

.pictures {
	text-align: center;
}

#nav-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	color: white;
	text-align: center;
	opacity: 0.5;
    position: fixed;
    top: 0;
}

#nav-list li {
	float: left;
}

#nav-list li a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
    color: red;

}

/*#nav-list li a:hover {
    background-color: #111;
}*/

.dough {
	border-style: double;
	border-width: 5px;
	padding-left: 45px;
	padding-right: 45px;
	padding-top: 20px;
	padding-bottom: 20px;
	float: left;
	position: relative; left: 20px; bottom: 15px;
}

.recipe {
	width: 600px;
	margin-bottom: 50px;
	float: right;
	padding: 30px;
	position: relative; right: 20px; bottom: 15px;
	color: lemon;
	border-style: double;
	border-width: 5px;
}

.dough-table, th, tr {
	text-align: center;
	border-collapse: collapse;
	border-bottom: 2px solid black;
	width: 35px;
	float: none;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:hover {background-color: #f5f5f5}

/*a:visited {
    color: white;
    font-size: 77px;
    text-decoration: none;
}

a:hover {
    color: navajowhite;
    text-decoration: underline;
}

a:link {
    color: black;
    text-decoration: none;
}*/

#crust {
	font-size: 18px;
	text-align: center;
	width: 350px;
}

h1 {
	font: Verdana;
	font-style: italic;
}

.intro {
	text-align: center;
}

#history-intro {
	text-align: center;
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
	background-color: green;
}